[Unit]
Description=AILocal Proxy Service
After=network.target

[Service]
ExecStart=/usr/local/bin/ailocal-proxy
Restart=always
User=m
Environment=AILOCAL_OPENAI_API_HOST=api.openai.com
Environment=AILOCAL_PROXY_DEBUG=true
Environment=AILOCAL_PROXY_PORT=2020
Environment=AILOCAL_WHISPER_API_ENDPOINT=http://studio:2022/audio/transcriptions

[Install]
WantedBy=multi-user.target
